html {
    text-align: center;
    height: 100%;
  }
  
  body {
    align-items: center;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    min-height: 100%;
  }
  
button {
    padding: 25px 70px;
    background-color: lawngreen;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 28px;
    grid-row-start: 2;
}

.weather{
    grid-row-start: 1;
}

.spotify{
    grid-row-start: 3;
    align-self: baseline;
}